/* google font */
@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@400;500&display=swap");

/* root */
:root {
  /* ### Primary */
  --Soft-Blue: hsl(231, 69%, 60%);
  --Soft-Red: hsl(0, 94%, 66%);
  --White: #fff;
  --button-bg: #f7f7f7;

  /* ### Neutral */
  --Grayish-Blue: hsl(229, 8%, 60%);
  --Very-Dark-Blue: hsl(229, 31%, 21%);

  /* overlay color */
  --overlay: hsla(229,29%,29%,.9);
  /* transitition */
  --fast-transition: 0.5s;
  --slow-transition: 1s;
}

/* general styling */

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Rubik", sans-serif;
  /* font-size: 18px; */
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--Very-Dark-Blue);
}

img {
  display: block;
  max-width: 100%;
}

P {
  font-weight: 400;
}

ul {
  list-style: none;
}

button {
  background: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 0.5em;
}

a {
  text-decoration: none;
  display: inline-block;
}

.wrapper {
  padding: 1.5em 1.5em;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.break-text {
  display: block;
}

/* general styling end */

/* nav */
.nav-section.active {
  position: fixed;
  height: 100vh;
  width: 100%;
  top: 0;
  left: 0;
  background: var(--overlay);
  padding: 1.5em 2em;
  text-align: center;
  z-index: 9999;
}

.navlinks-container{
  margin-top: 5em;
  display: none;
}

.navlinks-container ul li {
  padding: 12px;
  border-top: 1px solid var(--Grayish-Blue);
}

.navlinks-container ul li a {
  display: block;
  color: #fff;
  font-size: calc(1rem + 0.5vh);
  letter-spacing: 2px;
  text-transform: uppercase;
  padding: 10px;
}

.login:last-child {
  border: 2px solid var(--White);
  border-radius: 5px;
}

.navbar-social__links {
  position: absolute;
  bottom: 1em;
  left: 50%;
  transform: translateX(-50%);
}

.navbar-social__links a {
  margin: 1em;
}
/* nav end*/

/* section 1 >>> hero <<<<< */

.hero-section{
  flex-direction: column;
  align-items: stretch;
}

.hero-image {
  position: relative;
  padding-block: 1em;
}

.hero-image::after {
  content: "";
  position: absolute;
  top: 30%;
  right: -1.5em;
  height: calc(70% - 1.5vw);
  width: calc(90% - 1.5vw);
  background-color: var(--Soft-Blue);
  border-bottom-left-radius: 5rem;
  z-index: -1;
}

.hero-image > img {
  width: calc(100vw - 10%);
  margin-inline: auto;
}

.text-style {
  text-align: center;
  margin-top: 2em;
}

.text-style h1 {
  margin-top: 1em;
  letter-spacing: 2px;
  line-height: 1.5;
}

.text-style p {
  margin-block-start: 1em;
  line-height: 1.7;
  color: var(--Grayish-Blue);
}

.hero-btn {
  margin-top: 2em;
}

.btns {
  padding: 10px 12px;
  border-radius: 5px;
  transition: var(--fast-transition);
  box-shadow: -1px 10px 5px 0px rgba(229, 231, 245, 1);
}

.blue-bg__btn {
  margin-right: 0.5em;
  border: 1px solid var(--Soft-Blue);
  color: var(--White);
  background-color: var(--Soft-Blue);
}

.grey-bg__btn {
  border: 1px solid var(--button-bg);
  color: var(--Very-Dark-Blue);
  background-color: var(--button-bg);
}

/* section 1 >>> hero end<<<<< */

/* section 2 >>>> middle sec <<<<< */

.middle-section {
  margin-block: 5em;
} 

.middle-links {
  margin-top: 3em;
}

.middle-links button {
  width: 100%;
  display: block;
  border-top: 1px solid var(--Grayish-Blue);
  text-align: center;
  padding: 20px 0;
  color: var(--Grayish-Blue);
  font-size: 1.2rem;
  letter-spacing: 1.5px;
  position: relative;
  transition: var(--slow-transition);
}

.middle-links button.active {
  color: var(--Very-Dark-Blue);
}

.middle-links button:last-of-type {
  border-bottom: 1px solid var(--Grayish-Blue);
}

.selected {
  display: block;
  position: absolute;
  bottom: 0;
  width: 50%;
  height: 5px;
  left: 50%;
  transform: translateX(-50%);
  background: var(--Soft-Red);
}

.middle-content {
  margin-top: 2em;
}

.middle-card{
  flex-direction: column;
  align-items: stretch;
}

.middle-img {
  position: relative;
  padding-block-end: calc(1em + 17vw);
}

.middle-img::after {
  content: "";
  position: absolute;
  top: 18%;
  left: -1.5em;
  height: calc(70% - 1.5vw);
  width: calc(90% - 1.5vw);
  background-color: var(--Soft-Blue);
  border-bottom-right-radius: 5rem;
  z-index: -1;
}

.middle-img img {
  margin-inline: auto;
  width: calc(100vw - 30%);
}

.middle-text__info a {
  display: none;
}

/* section 2 >>>> middle sec end<<<<< */
/* section 3 >>>> extention download end<<<<< */

.download-extension__card {
  margin-top: 3em;
  flex-direction: column;
  justify-content: space-between;
}

.download-card {
  padding-block: 2em;
  box-shadow: 3px 2px 5px 0px rgba(229, 231, 245, 1),
    -3px -3px 5px 0px rgba(229, 231, 245, 1);
  flex-direction: column;
  width: 100%;
  margin-bottom: 1.5em;
  border-radius: 10px;
}

.download-card h3 {
  margin-top: 1.5em;
}

.download-card p {
  margin: 0.5em 0 2em 0;
}

.download-card img:last-of-type {
  width: 100%;
}

.download-card a {
  margin-top: 1em;
}

/* section 3 >>>> extention download end<<<<< */
/* section 4 >>>Q & A <<<<<<< */

.question-and-answer {
  margin: 1em 0 5em;
}

.qus-container {
  margin-block-start: 4em;
}

.questions-card {
  border-bottom: 1px solid var(--Grayish-Blue);
}

.qus {
  padding-block: 1.2em;
}

.qus h4 {
  font-weight: 500;
}

.question-answer {
  height: 0;
  overflow: hidden;
  transition: var(--slow-transition);
}

.question-answer.visible {
  height: auto;
}

.question-answer p {
  color: var(--Grayish-Blue);
  line-height: 2;
  margin-bottom: 2em;
}

.add-info {
  display: block;
  width: fit-content;
  margin: 3em auto 0;
}
/* section 3 >>>Q & A end<<<<<<< */

/* section 4 >>>>> email section <<<<*/
.email-section {
  background: var(--Soft-Blue);
  padding: 4em 0;
  text-align: center;
  color: var(--White);
}

.email-container p {
  letter-spacing: 4px;
  text-transform: uppercase;
}

.email-container h2 {
  color: var(--White);
  margin: 1em 0 1.5em;
}

.email-input {
  position: relative;
  margin-bottom: 1.5em;
}

.email-input.error {
  background-color: var(--Soft-Red);
  border-radius: 7px;
  padding-bottom: 5px;
}

input[type="email"] {
  padding-left: 20px;
}

input[type="email"].error {
  border: 1px solid var(--Soft-Red);
}

input[type="email"]::placeholder {
  color: var(--Grayish-Blue);
}

input[type="email"],
input[type="submit"] {
  width: 100%;
  height: 50px;
  border-radius: 7px;
  outline: none;
  border: none;
}

input[type="submit"] {
  background: var(--Soft-Red);
  color: var(--White);
  font-weight: bold;
  cursor: pointer;
}

.error-icon {
  top: calc(50px / 3);
  position: absolute;
  right: 20px;
  display: none;
}

.error-message {
  text-align: left;
  font-style: italic;
  font-size: 12px;
  padding: 0.2em 0 0 1em;
  display: none;
}
/* section 4 >>>>> email section end<<<<*/

/* footer */
footer {
  background: var(--Very-Dark-Blue);
  padding: 2em 0;
}

.footer-card {
  flex-direction: column;
  align-items: center;
}

.footer-card > * {
  margin: 1em 0;
}

.footer-card ul li {
  margin: 1em 0;
}

.footer-card ul li a {
  color: var(--White);
  display: inline-block;
  padding: 10px 12px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
}

.footer-socials-icon a {
  padding: 6px;
  margin-right: 1.5em;
}
/* footer end*/

/* .attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
} */

/* media queries */
@media screen and (min-width: 600px) {
  .wrapper {
    padding: 1.5em 3.5em;
  }

  /* section 1 >>> hero <<<<< */
  .hero-image::after {
    right: -3.5em;
    width: 80%;
  }

  .hero-image > img {
    width: 70vw;
  }

  /* section 2 >>>> middle sec <<<<< */
  .middle-img::after {
    left: -3.5em;
    width: 80%;
  }

  .middle-img img {
    width: 65vw;
  }

  .download-card {
    width: 300px;
  }
}

@media screen and (min-width: 870px) {
  /* nav */


  .nav-section {
    position: static;
    height: auto;
    background: transparent;
    padding: 1.5em 2em;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .hambuger-menu__cancle-btn{
    display: none;
  }

  .navlinks-container{
    display: block;
    margin: 0;
  }

  .navlinks-container ul{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }

  .navlinks-container ul li {
    border: none;
    padding: 0;
  }

  .navlinks-container ul li a{
    color: var(--Very-Dark-Blue);
    font-size: 12px;
    margin-right:1em ;
  }

  .navbar-social__links{
    display: none;
  }

  .login:last-child {
    border: 2px solid var(--Soft-Red);
    background-color: var(--Soft-Red);
    color: var(--White);
  }

  /* nav end */

  /* section 1 >>> hero <<<<< */
  .hero-section{
    flex-direction: row-reverse;
    align-items: center;
    gap: 2em;
  }

  .hero-image {
    padding-block: 0;
  }

   .hero-image::after {
    right: -3.5em;
    width: 80%;
    height: 75%;
  }

  .hero-info{
    width: 40em;
  }

  .text-style {
    text-align: left;
    margin-top: 0;
  }
  
  .text-style h1 {
    margin-top: 0;
  }

  .btns{
    font-size: 14px;
  }

  /* section 1 >>> hero end<<<<< */
  /* section 2 >>>> middle sec <<<<< */
  .mid-header-container{
    width: 570px;
    margin: 0 auto;
  }

  .middle{
    padding: 0 2.5em;
    text-align: center;
  }

  .middle h1{
    margin-block-end: 1.5em;
  }

  .middle-links{
    display: flex;
  }

  .middle-links button{
    border-top: none;
    border-bottom: 1px solid var(--Grayish-Blue);
    font-size: 16px;
  }

  .selected {
    width: 100%;
  }

  .middle-card{
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    gap: 2em;
  }

  
.middle-img::after {
  height: 58%;

}

.middle-img img {
  margin-inline: auto;
  width: auto;
}

  .middle-text__info{
    width: 30em;
    border: 1px solid #111;
  }

  

  /* del */

  .hero-image {
    padding-block: 0;
  }

   .hero-image::after {
    right: -3.5em;
    width: 80%;
    height: 75%;
  }

  .hero-info{
    width: 40em;
  }
  /* del ends */


}

.hidden {
  display: none;
}

.visible {
  display: block;
}
